body {
	padding-top: 50px;

	/*
	background-position: left bottom;
	background-repeat: no-repeat;
	background-image: url('../img/header_50_trans.png');
	*/
	
	background-color: white;
}


.starter-template {
	padding: 40px 15px;
	text-align: center;
}


/*
	GAME OVER SCREEN
*/
#div_Gameresult
{
	margin: 10px;
	text-align: center;
	background-color: #B0B0B0;
	padding: 15px;
	border-radius: 15px;	
}


#finalScoreCount
{
	color: green;
	font-size: 30px;
}


#div_Info
{
	margin: 10px;
	padding: 15px;
	background-color: #B0B0B0; 
	border-radius: 15px;
}


#div_Highscore
{
	margin: 10px;
	padding: 15px;
	background-color: #B0B0B0; 
	border-radius: 15px;
}


#div_Settings
{
	margin: 10px;
	padding: 15px;
	background-color: #B0B0B0; 
	border-radius: 15px;
}



/*
	FOOTER
*/
#footer
{
	background-color: black;
	text-align: center;
	position : absolute;
	bottom : 0; 
	width: 100%;
}


#footer a
{
	color: grey;
	text-decoration: none;
	font-size: 10px;
}
